.formWrapper {
	margin-top: 15px;
}
.space {
	display: flex;
	flex: 1;
    margin-top: 15px;
}

.marginSpace {
	margin-bottom: 10px;
}

.padd {
	padding-left: 20px;
	padding-right: 20px;
}

.collapseHeader {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.custumCollapse :global(.ant-collapse-header) {
	background-color: #004890; /* change this to your desired header color */
	font-weight: bold;
	padding: 12px;
	border-radius: 6px;
}