.card {
  padding: 10px 24px 8px;
  margin: 15px;
  box-shadow: none;
}

/* Target the title container */
.card :global(.ant-card-head) {
  padding: 0 0 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1px solid orange; /* Replace with custom variable via CSS vars or hardcode */
  margin-bottom: 25px;
}

/* Target the body */
.card :global(.ant-card-body) {
  padding: 0;
}

.boldLabel :global(.ant-form-item-label > label) {
  font-weight: 600; /* or 700 for bolder */
}

.customModal :global(.ant-modal-content) {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.customModal :global(.ant-modal-body) {
    flex: 1; /* take remaining height */
    padding: 0;
    overflow: hidden; /* prevent scrollbars if iframe fits perfectly */
}

.customModal iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.input {
		font-weight: 600;
		font-size: 15px;
		line-height: 30px;
}